.App {
  text-align: center;
}

.navbar{display: inline-flex;}
.i1{background-color:aquamarine ;
height:100px;
width: 500px;}
.i2{width:200px;
  background-color:aquamarine ;
  height:100px;}
.i3{width:200px;
  background-color:aquamarine ;
  height:100px;}
.i4{width:200px;
  background-color:aquamarine ;
  height:100px;}

  .todolist{background-color: aqua;
  width: 500px;
height:700px;
position: relative;
left:700px;
top:50px}

.todocheck{position: relative;
right:230px;
top:42px}

.todoitem{background-color: aquamarine;
width:460px;
position: relative;
left:40px;
text-align: left;
text-overflow: hidden    ;
}

.login,.register{background-color: aqua;
width:500px;
height:350px;
position: absolute;
left:700px;
top:250px}

.errormssg{width: 200px;
height:70px ;
background-color:red;
position: absolute;
top:480px;
right: 870px;}

.show{visibility: visible;}
.hidden{visibility:hidden;}