.App {
  text-align: center;
}

.navbar{display: inline-flex;
  background-color: rgb(232, 228, 228);
height:100px}
.i1{width: 500px;}
.i2{width:200px;
   cursor:pointer;}
.i3{width:200px;
  cursor:pointer;}
.i4{width:200px;
  cursor:pointer;}

 

  .todolist{background-color: rgb(223, 226, 226);
  width: 500px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 150px;

position: relative;
left:500px;
top:50px}

.todocheck{position: relative;
  
right:230px;
top:42px}

.todoitem{
width:460px;
position: relative;
left:40px;
text-align: left;
text-overflow: hidden    ;

}

.login,.register{background-color: aqua;
width:500px;
height:350px;
position: absolute;
left:700px;
top:250px}

.errormssg{width: 200px;
height:70px ;
background-color:red;
position: absolute;
top:480px;
right: 870px;}

.show{visibility: visible;}
.hidden{visibility:hidden;}

.deletebtn{position: relative;
bottom:40px;
left:200px}

#addtodo{height:30px;
margin-top: 50px;
width: 440px;
position: relative;
left:-15px}


.addbtn{height:36px;
width:45px;
position: relative;
left:-15px}

.checked{text-decoration: line-through;}